<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>My books</title>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <header ng-controller="NavCtrl as navbar">

      <nav class="navbar">
        <h1 id="logo">My books</h1>
      </nav>

      <!-- navbar for mobile -->
      <nav class="mobile">
        <button id="hamburger"></button>
        <section>
          <section ng-repeat="book in navbar.getNavbarBooks()">
            <a href="#">{{book.title}}</a>
          </section>
        </section>
      </nav>

      <!-- navbar for desktop -->
      <nav class="desktop">
        <section ng-repeat="book in navbar.getNavbarBooks()">
          <a href="#">{{book.title}}</a>
        </section>
      </nav>

    </header>

    <main class="main wrapper">
      <section class="row clearfix">

      <section ng-controller="InterfaceCtrl as interface">

        <!-- welcome message -->
        <section class="card welcome col-1-4" ng-show="interface.welcomingMode">
          <h3>Welcome Back!</h3>
          <p>It's been a while.</p>
          <p>Read any new books lately?</p>
          <button class="btn btn-no" ng-click="interface.welcomingMode = false">No</button>
          <button class="btn btn-yes"ng-click="interface.welcomingMode = false; interface.addingMode = true">Yes</button>
        </section>

        <!-- book registery -->
        <section class="card adding col-1-4" ng-show="interface.addingMode">
          <form ng-submit="interface.submit()">
            <section>
              <section>
                <label for="title">Title</label>
              </section>
              <input id="title" type="text" ng-model="interface.title" />
            </section>
            <section>
              <section>
                <label for="author">Author</label>
              </section>
              <input id="author" type="text" ng-model="interface.author" />
            </section>
            <input class="btn btn-add" type="submit" value="Add a Book"/>
          </form>
        </section>

        <!-- sort interface -->
        <section class="card sort col-1-4">
          <button class="btn" ng-click="interface.sortByTitle()">Sort by Title</button>
          <button class="btn" ng-click="interface.sortByAuthor()">Sort by Author</button>
        </section>

      </section>

      <!-- books -->
      <section ng-controller="BookCtrl as collection">
        <section class="card book col-1-4" ng-repeat="book in collection.getBooks()">
          <section class="detail">
            <h3>{{book.title}}</h3>
            <p>By {{book.author}}</p>
            <form class="star-rating">
              <input ng-click="collection.saveRating(book, 1)" ng-model="book.rating" type="radio" name="rating" ng-value="1"><i></i>
              <input ng-click="collection.saveRating(book, 2)" ng-model="book.rating" type="radio" name="rating" ng-value="2"><i></i>
              <input ng-click="collection.saveRating(book, 3)" ng-model="book.rating" type="radio" name="rating" ng-value="3"><i></i>
              <input ng-click="collection.saveRating(book, 4)" ng-model="book.rating" type="radio" name="rating" ng-value="4"><i></i>
              <input ng-click="collection.saveRating(book, 5)" ng-model="book.rating" type="radio" name="rating" ng-value="5"><i></i>
            </form>
          </section>
        </section>
      </section>

      </section>
    </main>

    <!-- library/scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="app.js"></script>
    <script src="app/book.model.js"></script>
    <script src="app/nav.js"></script>
    <script src="app/interface.js"></script>
    <script src="app/book.js"></script>

    <!-- script for dropdown menu -->
    <script>
      $('#hamburger').click(function() {
        $(this).toggleClass('expanded').siblings('section').toggle();
      });
    </script>
  </body>
</html>
