<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>My Books</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>

    <header>
      <nav>
        <h1>My Books</h1>
      </nav>
    </header>

    <main>
      <!-- interface -->
      <section ng-controller="InterfaceCtrl as interface">
        <!-- welcome message -->
        <section ng-show="interface.welcomingMode">
          <h3>Welcome Back!</h3>
          <p>It's been a while.</p>
          <p>Read any new books lately?</p>
          <button ng-click="interface.welcomingMode = false">No</button>
          <button ng-click="interface.welcomingMode = false; interface.addingMode = true">Yes</button>
        </section>
        <!-- book register -->
        <section ng-show="interface.addingMode">
          <form ng-submit="interface.submit()">
            <input type="text" ng-model="interface.title" />
            <input type="text" ng-model="interface.author" />
            <input type="submit" value="Add Book"/>
          </form>
        </section>
      </section>

      <!-- books -->
      <section ng-controller="BookCtrl as collection">
        <section ng-repeat="book in collection.getBooks()">
        <h3>{{book.title}}</h3>
        <p>By {{book.author}}</p>
        </section>
      </section>
    </main>

    <!-- lib/scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="app/book.model.js"></script>
    <script src="app/nav.js"></script>
    <script src="app/interface.js"></script>
    <script src="app/book.js"></script>
  </body>
</html>
