/* -------------------------------------------------
   :: Global Settings                             ::
   ---------------------------------------------- */

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

/* resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Header */
h1 {
  padding: 0;
  margin: 0;
}

.navbar {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #F50057;
}

#logo {
  margin-left: 50px;
  font-size: 1.5em;
  color: #fff;
}

/* Content Section */
body {
  background-color: #ECEFF1;
}

.wrapper {
  margin: 0 auto;
  padding: 20px;
  max-width: 100%;
}

/* Card Styling */
.card {
  margin: 8px;
  padding: 10px;
  border-radius: 5px;
  background-color: #FAFAFA;
  -webkit-box-shadow: 2px 2px 12px -2px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 12px -2px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 12px -2px rgba(0,0,0,0.5);
}

/* Welcome Interface */
.welcome {
  padding-top: 5px;
  padding-left: 30px;
}

.welcome h3 {
  font-size: 1.5em;
  color: #F50057;
}

.welcome p {
  font-size: 1em;
}

/* Book Adding Interface */
.adding {
  padding-top: 15px;
  padding-left: 30px;
}

#title {
  width: 300px;
  display: inline;
  border-radius: 5px;
  margin-bottom: 10px;
}

#author {
  width: 300px;
  display: inline;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Sort Interface */
.sort {

}

/* Book Section */
.book {
  padding-left: 20px;
  height: 100px;
}

.book h3 {
  font-weight: 400;
}

.book p {
  font-size: 0.8em;
  font-weight: 400;
  color: #757575;
}

/* Buttons */
.btn {
  font-weight: 400;
  border: 0;
  padding: 6px 16px 6px 16px;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  outline:none;
}

.btn:hover,
.btn:active,
.btn:focus {
  background: #eee;
}

.btn-no {
  color: black;
}
.btn-yes {
  color: #FFA000;
}
.btn-add {
  margin-left: 95px;
}

/* -------------------------------------------------
   :: Mobile Styling                              ::
   ---------------------------------------------- */

.mobile {
  display: none;
  position: fixed;
  top: 66px;
  width: 100%;
}

/* Hamburger Button */
.mobile button {
  position: absolute;
  top: -45px;
  left: 15px;
  width: 24px;
  height: 24px;
  border: 0;
  background-image: url("./icons/ic_close_24px.svg");
  background-color: #F50057;
  outline: none;
}

.mobile button.expanded {
  border: 0;
  background-image: url("./icons/ic_menu_24px.svg");
  background-color: #F50057;
}

/* -------------------------------------------------
   :: Link Styling                                ::
   ---------------------------------------------- */

.mobile a {
  display: block;
}

a {
  background: #fff;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  color: #222;
}

a:hover,
a:active,
a:focus {
  background: #eee;
}

.desktop {
  display: block;
  overflow: hidden;
  background-color: #fff;
}

.desktop a {
  padding: 20px 25px 20px 25px;
  float: left;
  border-bottom: 0;
}

/* -------------------------------------------------
   :: Break-points Settings                       ::
   ---------------------------------------------- */

/* grid */
.row {
  margin: 0 -10px;
  margin-bottom: 20px;
}
.row:last-child {
  margin-bottom: 0;
}
[class*="col-"] {
  padding: 10px;
}

/* Mobile */
@media (max-width: 768px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}

/* Tablet */
@media all and ( min-width: 768px ) {
  .col-1-4 {
    float: left;
    width: 45%;
  }
  .col-1-4:nth-child(4n+1) {
    clear: both;
  }
}

/* Desktop */
@media all and ( min-width: 1200px ) {
  .col-1-4 {
    float: left;
    width: 22.5%;
  }
  .col-1-4:nth-child(4n+1) {
    clear: both;
  }
}
