#logo {
  margin-left: 50px;
}
.mobile {
  display: none;
  position: fixed;
  top: 70px;
  width: 100%;
}
.mobile button {
  position: absolute;
  top: -43px;
  left: 10px;
  width: 24px;
  height: 24px;
  border: 0;
  background-image: url("./icons/ic_close_24px.svg");
  background-color: #fff;
  outline: none;
}
.mobile button.expanded {
  border: 0;
  background-image: url("./icons/ic_menu_24px.svg");
  background-color: #fff;
}
.mobile a {
  display: block;
}
a {
  background: #fff;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  color: #222;
  font-weight: bold;
}
a:hover,
a:active,
a:focus {
  background: #eee;
}
.desktop {
  display: block;
  overflow: hidden;
}
.desktop a {
  padding: 20px 25px 20px 25px;
  float: left;
  border-bottom: 0;
}
@media (max-width: 800px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
